#container{
background-color:blue;
color:white;
font-family:Arial,sans-seriff;
}
h2{
color:blue;
font-family:Arial,sans-seriff;
}
button{
background-color:blue;
color:White;
font-family:Arial,sans-seriff;
border-radius:6px;

}
#container1{
background-color:pink;
color:blue;
}

