#container{
background-color:yellow;
color:black;
font-family:Arial,sans-seriff;
}
h2{
color:yellow;
font-family:Arial,sans-seriff;
}
button{
background-color:yellow;
color:White;
font-family:Arial,sans-seriff;
border-radius:6px;

}
#container1{
background-color:pink;
color:yellow;
}

