#container{
background-color:orange;
color:white;
font-family:Arial,sans-seriff;
}
h2{
color:orange;
font-family:Arial,sans-seriff;
}
button{
background-color:orange;
color:White;
font-family:Arial,sans-seriff;
border-radius:6px;
}
#container1{
background-color:pink;
color:orange;
}
